@import 'style.css';

#about-wrapper {
    width: 100%;
    height: 590px;
    padding-top: 50px;
    margin: 100px auto 0;
}

#about-margin {
    width: 50%;
    margin: 0px auto;
}

#about-margin li {
    margin: 0px 7px;
}


#about-margin li:last-child{
    margin-right: 0px;
}

#music-studio {
    height: 650px;
}

.about-cards {
    position: relative;
    width: 300px;
    height: 225px;
    display: inline-block;
    padding: 0;
}

.bio-block {
    position: absolute;
    top: 0;
    left: 0;
}

.bio {
    width: 300px;
    height: 225px;
    opacity: 0;
    transition: .75s ease;
    background-color:#20303c;
    color: #AD7B67;
}

.bio>p {
    margin: 0;
    padding-top: 50%;
    text-align: center;
}

.about-cards:hover .bio {
    opacity: 0.8;
}


footer {
    height: 70px;
    bottom: 0;
    position: fixed;
    width:100%;
}