body {
    font-family: Lustria, Helvetica, sans-serif;
}

.sidenav {
    height: 120px;
    width: 0;
    position: fixed;
    z-index: 1100;
    top: 0;
    right: 0;
    background-color: #b9a395;
    overflow: hidden;
    transition: 0.5s;
    border-bottom-left-radius: 10px;
    box-shadow: 0px 0px 12px 10px rgba(78, 78, 78, 0.2);
}

.closeX {
    font-size: 3em;
    float: left;
}

.closeX:hover {
    /* font-size: 3.3em; */
    transition: 0.2s;
    color: gray;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .signInOutButton {
    font-size: 1.5em;
}

.form {
    width: 400px;
    margin: 10px 10px 10px 10px;
    text-align: center;
}

.form-input {
    font-size: 1.0em;
    width: 300px;
    padding: 10px;
    display: inline-block;
    margin: 3px;
    box-shadow: inset 0 0 3px #000000;
}

.form button {
    margin: 10px;
    width: 200px;
    box-shadow: 0px 0px 12px 4px rgba(78, 78, 78, 0.2);
    border-radius: 4px 4px 4px 4px;
    
}