@import 'reset.css';
@import 'modal.css';
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    overflow-x: hidden;
}

a {
    cursor: pointer;
}

header {
    padding-top: 20px;
    height: 100px;
    background-color: #20303c;
    transition: color 0.4s ease 0s;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

header div img {
    width: 100px;
    margin: 0px 0px 10px 20px;
    float: left;
}

header h1 {
    float: left;
    margin-top: 35px;
    color: lightgray;
    font-size: 2em;
}

nav {
    float: right;
}

nav ul li {
    list-style-type: none;
    display: inline;
    padding: 20px;
    color: #AD7B67;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}

nav ul li:hover {
    color: #B7CBBF;
    transition: color 0.4s ease 0s;
}

#music-studio {
    background-image: url("../img/music-studio.jpg");
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    position: fixed;
    z-index: -1;
    padding-top: 200px;
    background-size: cover;
}

#before-footer {
    background: lightgrey;
    height: 150px;
}

#sound-bar{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #20303c;
    z-index: 12;
}

#volume {
    -webkit-appearance: none;
    transform: rotate(-90deg);
    margin-top: 20px;
    margin-right: 50px;
    float: right;
    height: 10px;
    width: 40px;
    border-radius: 5px;
    outline: none;
}

#volume::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background:#AD7B67;
}

#play {
    background-size: 100px 45px;
    width: 45px;
    height: 40px;
    outline: none;
    border: none; 
    background-image: url('../img/play-pause.png');
    background-position: 0 46%;
    background-color: green;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 50px;
    margin-bottom: 5px;
    transition: color 1s ease 0s;
}
#play:hover {
    transition: color 1s ease 0s;
    background-color:#AD7B67;
}

#play:active {
    background-color: hotpink;
}

#harmony p, #chaos p {
    display: inline-block;
    width: 300px;
}

footer {
    height: 115px;
    background-color: #243542;
    text-align: center;
    z-index: 10;
}

footer ul li {
    padding: 10px 50px 0px 50px;
    color: #AD7B67;
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 3px;
}

footer ul li:hover {
    transition: color 0.4s ease 0s;
}

footer p {
    padding-top: 15px;
    color: rgb(155, 110, 93);
    text-align: center;
}

a{
    color: #AD7B67;
    text-decoration: none;
}

a:hover {
    color: #B7CBBF;
    transition: color 0.4s ease 0s;
}

.hide {
    display: none;
}