header {
    height: 250px;
}

ul li {
    list-style-type: none;
    display: inline;
    padding: 20px;
}

#wrapper { 
    width: 100%; 
    height: auto; 
}

a {
    cursor: pointer;
}

#harmony { 
    width: 50%; 
    height: auto; 
    float: left;
}

#harmony:hover {
    transform: scale(1.7,1.7);
    transition: .3s transform;
}

#chaos { 
    width: 50%; 
    height: auto; 
    float: left;
}

footer {
    clear: both;
    height: 250px;
}

